@model SistemaWebVuelos.Models.Vuelo
<link href="~/Content/Main.css" rel="stylesheet" />

    <h2>

        Flight Delete

    </h2>
    <p>

        Are you sure you want to delete this Flight?

    </p>

    @using (Html.BeginForm("Delete", "Vuelo", FormMethod.Post))
     {
        @Html.HiddenFor(model => model.Id)
           <fieldset>
                <div class="display-label">

                    <p><b>@Html.DisplayNameFor(model => model.Id):</b> @Html.DisplayFor(model => model.Id)</p>

                </div>



                <div class="display-label">

                    <p><b>@Html.DisplayNameFor(model => model.Fecha):</b> @Html.DisplayFor(model => model.Fecha)</p>

                </div>



                <div class="display-label">

                    <p><b>@Html.DisplayNameFor(model => model.Destino):</b> @Html.DisplayFor(model => model.Destino)</p>

                </div>



                <div class="display-label">

                    <p><b>@Html.DisplayNameFor(model => model.Origen):</b> @Html.DisplayFor(model => model.Origen)</p>

                </div>
                <div class="display-text">

                    <p><b>@Html.DisplayNameFor(model => model.Matricula):</b> @Html.DisplayFor(model => model.Matricula)</p>

                </div>

           </fieldset>

        <input type="submit" value="Si" />

    }

    

    <p>
        @Html.ActionLink("Volver a Index", "Index", "Vuelo")
    </p>
