@model SistemaWebVuelos.Models.Vuelo
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
    <link href="~/Content/Main.css" rel="stylesheet" />
</head>
<body>
    <div class="detailbody">
        <fieldset>
            <legend>

                <b>Flight Detail</b>

            </legend>

            <div class="display-label">

                <p><b>@Html.DisplayNameFor(model => model.Id):</b> @Html.DisplayFor(model => model.Id)</p>

            </div>


            <div class="display-label">

                <p><b>@Html.DisplayNameFor(model => model.Fecha):</b> @Html.DisplayFor(model => model.Fecha)</p>

            </div>


            <div class="display-label">

                <p><b>@Html.DisplayNameFor(model => model.Destino):</b> @Html.DisplayFor(model => model.Destino)</p>

            </div>



            <div class="display-label">

                <p><b>@Html.DisplayNameFor(model => model.Origen):</b> @Html.DisplayFor(model => model.Origen)</p>

            </div>
            <div class="display-text">

                <p><b>@Html.DisplayNameFor(model => model.Matricula):</b> @Html.DisplayFor(model => model.Matricula)</p>

            </div>


        </fieldset>
    </div>
    <p>

        @Html.ActionLink("Volver a Index", "Index", "Vuelo")

    </p>

</body>
</html>
