@model SistemaWebVuelos.Models.Vuelo
<link href="~/Content/Main.css" rel="stylesheet" />


<h2>Flight Edit</h2>
<p>Are you sure you want to edit this Product?</p>


<div id="bodyedit">
    @using (Html.BeginForm("Edit", "Vuelo", FormMethod.Post))
    {

        @Html.HiddenFor(model => model.Id)

        <div class="fecha">
            @Html.LabelFor(model => model.Fecha)
            @Html.EditorFor(model => model.Fecha)
            @Html.ValidationMessageFor(model => model.Fecha)
        </div>
        <div class="destino">
            @Html.LabelFor(model => model.Destino)
            @Html.EditorFor(model => model.Destino)
            @Html.ValidationMessageFor(model => model.Destino)
        </div>
        <div class="origen">
            @Html.LabelFor(model => model.Origen)
            @Html.EditorFor(model => model.Origen)
            @Html.ValidationMessageFor(model => model.Origen)
        </div>
        <div class="matricula">
            @Html.LabelFor(model => model.Matricula)
            @Html.EditorFor(model => model.Matricula)
            @Html.ValidationMessageFor(model => model.Matricula)
        </div>

        <div class="boton">
            <p>
                <input type="submit" value="Edit" />
            </p>
        </div>
    }
</div>


<nav class="backtolist">
    @Html.ActionLink("Back to List", "Index", "Vuelo")
</nav>